.tutorial-wrapper {
  position: fixed;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

.tutorial-container {
  background-color: #f3f4f6;
  position: relative;
  top: 20vh;
  display: grid;
  margin: 0 auto;
  width: 30vw;
  height: 40vh;
  padding: 1rem 1rem;
  border-radius: 10px;

  .welcoming-text {
    display: block;
    color: white;
    padding-bottom: 1rem; 
    border-bottom: 1px solid gray;
    color: #16a34a;
    font-weight: 400;
    font-size: 2rem;
    justify-self: stretch;
    align-self: center;
    margin: 0 2rem;
  }

  .welcoming-guide {
    display: flex;
    font-size: 1.25rem;
    margin: 0;
    padding-left: 2rem;
  }

  .character-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;

    .character-box {
      display: grid;
      align-items: center;
      justify-items: center;
    }
  }

  .btn {
    background-color: #16a34a;
    color: white;
    border: none;
    justify-self: center;
    font-size: 1.25rem;
    padding: 0 2rem;
    margin: 1rem 0;
    border-radius: 50px;
    border: 1px solid #16a34a;
    transition: 200ms ease-out;
  }

  .btn:hover {
    color: #16a34a;
    background-color: transparent;
  }
}